<fieldset class="step-form">
  <%= form_for @changeset, @action, fn f -> %>
    <p>
      <%= label f, :notes %>
      <%= textarea f, :notes %>
      <%= error_tag f, :notes %>
    </p>

    <p>
      <%= label f, :date %>
      <div class="date-select-container">
        <%= step_date_select(f) %>
      </div>
      <%= error_tag f, :date %>
      <%= error_tag f, :date_goal_id %>
    </p>

    <p>
      <%= submit "Submit" %>
    </p>
  <% end %>
</fieldset>
