.header
  background-color: $action-color
  color: $base-background-color
  padding: 1.3em
  margin-bottom: 2em

  a
    color: $secondary-background-color
    &:hover
      color: $base-background-color

  li, form
    display: inline
  li
    margin-left: 1em

.header-row
  max-width: $max-width
  margin-left: auto
  margin-right: auto

  display: flex
  align-items: center
  justify-content: space-between

.logo
  font-size: 2em
