@import "vendor/jquery.webui-popover"

@import "bourbon/bourbon"
@import "neat/neat"
@import "base/base"
@import "header"

.main
  +outer_container

.goal-name
  font-size: 1.1em
  font-weight: bold
  margin-bottom: 0.5em

.goal-step-dates
  margin-bottom: 0.8em

.goal-step-date
  width: 3em
  height: 3em
  display: inline-block
  font-size: 0.5em
  border: 2px solid $action-color
  padding: 0.5em
  border-radius: $base-border-radius
  cursor: pointer

.goal-step-date-completed
  background-color: $action-color

.goal-step-date-completed,
.goal-step-date-completed:focus
  outline: none

.goal
  border-bottom: 2px solid $base-border-color
  padding: 1em 0
  margin-bottom: 1em

.goal-action-items
  li, form
    display: inline

.goal-action-item
  margin-right: 1em
