<div class="goal-step-dates">
  <%= for {_, step} <- @dates_with_steps do %>
    <%= if step do %>
      <a class="goal-step-date goal-step-date-completed"
        tabindex="0"
        data-toggle="popover"
        data-placement="bottom"
        data-animation="pop"
        data-content="<%= step_short_summary(step) %>">
      </a>
    <% else %>
      <div class="goal-step-date">
      </div>
    <% end %>

  <% end %>
</div>
