<%= Steps.SharedView.back_link(goal_path(@conn, :show, @goal)) %>

<h1>Edit goal</h1>

<%= render "_form.html", changeset: @changeset,
                         action: goal_path(@conn, :update, @goal) %>
