<h2>Show goal</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @goal.user_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @goal.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @goal.description %>
  </li>

</ul>

<%= render "_steps.html", conn: @conn, goal: @goal, steps: @steps %>

<%= link "Edit", to: goal_path(@conn, :edit, @goal) %>
<%= link "Back", to: goal_path(@conn, :index) %>
